<html>

<head>
  <style>
    body {
      font-family: : Arial, Helvetica, sans-serif;
    }
  </style>
</head>

<body>
  <strong>Olá {{user.name}}</strong>
  <p>Você acabou de fazer uma compra, de número #{{order.id}}</p>
  <br />

</body>

</html>